@model TaskTimer.ViewModels.ActivityCategoriesViewModel

@{
    ViewBag.Title = "ActivityForm";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save","Activities",FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(a => a.Description)
        @Html.TextBoxFor(a => a.Description,htmlAttributes : new { @class="form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.CategoryId)
        @Html.DropDownListFor(a => a.CategoryId,new SelectList(Model.Categories,"Id","Name"),"Select category",htmlAttributes : new { @class="form-control"})
    </div>

    @Html.HiddenFor(a => a.CategoryId)
    @Html.HiddenFor(a => a.Id)
    @Html.HiddenFor(a => a.ApplicationUserId)
    <input type="submit" class="btn btn-primary" value="Save" />
}
